pandas 
matplotlib
seaborn
opencv-python
transformers
pydantic
python-dotenv
jellyfish 
rapidfuzz 
dateparser
langchain
langchain-community
langchain-core
fastapi
uvicorn
neo4j
mistralai
python-multipart
psycopg2-binary
groq




